file2.txt filter=lfs diff=lfs merge=lfs -text
file3.txt filter=lfs diff=lfs merge=lfs -text
file4.txt filter=lfs diff=lfs merge=lfs -text
file5.txt filter=lfs diff=lfs merge=lfs -text
file1.txt filter=lfs diff=lfs merge=lfs -text
file6.txt filter=lfs diff=lfs merge=lfs -text
file7.txt filter=lfs diff=lfs merge=lfs -text
file8.txt filter=lfs diff=lfs merge=lfs -text
file9.txt filter=lfs diff=lfs merge=lfs -text
